.animated-background {
  height: 100vh;
  background-image: url('../public/images/background.jpg');
  background-size: cover;
}

.app-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.app-header .nav-link {
  text-decoration: none;
  color: #800080;
  font-weight: bold;
  font-size: 28px;
  padding: 6px 15px;
}

.nav {
  gap: 20px;
  justify-content: flex-end;
  padding: 6px 15px;
}

.nav .nav-link {
  padding: 6px 15px;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 600;
  color: #333;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 8px;
  text-decoration: none;
}

.nav .nav-link:hover {
  border: #333;
  border-color: #333;
  border-width: 2px;
  color: #800080;
}

.nav .nav-link.active {
  color: #800080;
}

.intro {
  text-align: start;
  padding: 100px 48px 60px;
}

.intro h1 {
  font-size: 48px;
  margin: 0;
  font-weight: 700;
}

.intro h1 span {
  color: #800080;
}

.intro h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 20px;
}

.intro p {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 32px;
  color: #555;
}

.intro .buttons {
  display: flex;
  gap: 20px;
}

.intro .buttons .btn-primary {
  background-color: #800080;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.intro .buttons .btn-outline {
  background: none;
  color: #800080;
  padding: 12px 24px;
  border: 2px solid #800080;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.tabs-header {
  display: flex;
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  justify-content: space-between;
  letter-spacing: 0.5px;
}