.content {
    display: block;
    justify-items: start;
}

.duo-project-container {
    justify-content: space-evenly;
    gap: 30px;
    display: flex;
}

.project-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 10px 20px 20px;
    justify-items: center;
}

.project-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.project-title h2 {
    color: #800080;
    font-size: 24px;
    font-weight: 600;
}

.project-card-inner {
    display: flex;
    gap: 20px;
    text-align: start;
    
}

.project-card-inner-2 {
    display: block;
    gap: 20px;
    text-align: start;
    justify-items: center;
}

.project-card-inner-2 ul {
    max-width: 500px;
    line-height: 1.6;
    margin-bottom: 32px;
    color: #555;
}

.project-card-inner ul {
    max-width: 600px;
    line-height: 1.6;
    margin-bottom: 32px;
    color: #555;
}

.repo-item {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 6px;
}

.repo-label {
    font-size: 14px;
    color: #333;
}